In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from keras.preprocessing import image
train_masks=pd.read_csv(".\\all\\train.csv")
train_masks.head()

           id                                           rle_mask
0  575d24d81d                                                NaN
1  a266a2a9df                                          5051 5151
2  75efad62c1  9 93 109 94 210 94 310 95 411 95 511 96 612 96...
3  34e51dba6a  48 54 149 54 251 53 353 52 455 51 557 50 659 4...
4  4875705fb0  1111 1 1212 1 1313 1 1414 1 1514 2 1615 2 1716...

In [8]:
import sys
sys.executable='c:\\users\\aashish\\appdata\\local\\programs\\python\\python36\\pythonw.exe'
import matplotlib